<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Store</title>
    <link href="https://fonts.googleapis.com/css?family=Inter:400,400i,800,800i" rel="stylesheet">

    <style>
        html, body {
            font-family: Inter, sans-serif;
            font-max-size:  14px;
        }
    </style>
</head>
<body>
    {{{ body }}}
</body>
</html>
