<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{35} - %msg%n"/>

  <appender name="server-console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d - %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <!-- Plain Text Rolling Appender for application info -->
  <appender name="server-info" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/demo.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/archived/demo.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>20MB</maxFileSize>
    </rollingPolicy>
  </appender>

  <!-- Plain Text Rolling Appender for application error -->
  <appender name="server-error"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <file>${LOG_PATH}/demo-error.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/demo.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>15</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="com.example" level="info">
    <appender-ref ref="server-info" />
    <appender-ref ref="server-error" />
  </logger>

  <root level="info">
    <appender-ref ref="server-console" />
  </root>
</configuration>